body > * {
  border: 5px solid black;
}
main aside .thumb img {
      width: 100%;
      padding: 1em;
    }

main {
  display: grid;
  grid-template-columns: 350px 1fr;
  border: 5px dashed blue;
  gap: 1rem;
  padding: 1rem;

  >* {
    border: 5px solid black;
  }
}